<clr-datagrid (clrDgRefresh)="refreshDatagrid($event)"
              [clrDgLoading]="loading"
              [(clrDgSelected)]="selectedItems"
              [clDgRowSelection]="true"
              [hidden]="!visible">
  <clr-dg-placeholder>Please select some search criteria!</clr-dg-placeholder>
  <!-- Action bar for action-elements (e.g. Analyse button) -->
  <clr-dg-action-bar>
    <div class="btn-group">
        <button type="button"
                class="btn btn-sm btn-secondary"
                (click)="onAnalyseJobs()"
                [disabled]="!selectedItems.length">
                <clr-icon shape="line-chart"></clr-icon>
                Analyse
        </button>
    </div>
  </clr-dg-action-bar>
  <!-- Labels for columns -->
  <clr-dg-column style="width:50px">ID</clr-dg-column>
  <clr-dg-column>Description</clr-dg-column>
  <clr-dg-column>Host</clr-dg-column>
  <clr-dg-column style="width:50px">Date</clr-dg-column>
  <!-- Rows of results -->
  <ng-template [ngIf]="jobsData && jobsData.results?.length">
    <clr-dg-row *ngFor="let item of jobsData.results" [clrDgItem]="item.id">
      <clr-dg-cell>{{ item.id }}</clr-dg-cell>
      <clr-dg-cell>
        {{ item.job_description.application_version.application.name }}
        {{ item.job_description.application_version.version }},<br>
        {{ item.job_description.option.description | breakLongString: '-' }}
      </clr-dg-cell>
      <clr-dg-cell>
        {{ item.host.hostname }},<br>{{ item.platform.content }}
      </clr-dg-cell>
      <clr-dg-cell>
        {{ item.time_start | date:'dd/MM/yy' }}
      </clr-dg-cell>
      <!-- Per-row details section -->
      <clr-dg-row-detail *clrIfExpanded>
        <div>
          <div class="p5">{{ item.job_description.option.content }}</div>
          <div class="p5"><b>Start:</b> {{ item.time_start | date:'MMM d, y, HH:mm:ss z' }} <br><b>End:</b> {{ item.time_end | date:'MMM d, y, HH:mm:ss z' }}</div>
        </div>
      </clr-dg-row-detail>
    </clr-dg-row>
    <!-- Footer with pagination -->
    <clr-dg-footer>
      <!-- Page size selector -->
      <app-page-size-selector [pageSizes]="pageSizes" (newPageSize)="onPageSizeChange($event)"></app-page-size-selector>
      <!-- Grid pagination -->
      <clr-dg-pagination #pagination [clrDgPageSize]="pageSize" [clrDgTotalItems]="jobsData.count">
        {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ pagination.totalItems }} results
      </clr-dg-pagination>
    </clr-dg-footer>
  </ng-template>
</clr-datagrid>
