<H1><b>FAQ:</b></H1>

<h2><b>About:</b></h2>

The LHCbPR framework is built atop the LHCb nightly testing infrastructure to run .

<h2><b>LHCb Nightlies:</b></h2>

Nightly LHCb builds are summarized <a href="https://lhcb-nightlies.cern.ch/nightly/summary/">here</a>.

<h3><b>Launch a test</b></h3>
Custom test configurations can be launched from <a href="https://lhcb-nightlies.cern.ch/periodic/summary/">here</a>.

<h2><b>Contact:</b></h2>

To contact the LHCbPR devs:

<h2>Contact:</h2> 
mattermost: <a href="https://mattermost.web.cern.ch/lhcb/channels/lhcbpr2" >https://mattermost.web.cern.ch/lhcb/channels/lhcbpr2</a>


<h2>Project git repos:</h2>

LHCbPR2HD: <a href="https://gitlab.cern.ch/lhcb-core/LHCbPR2HD" >https://gitlab.cern.ch/lhcb-core/LHCbPR2HD</a>
<br/>
LHCbPR2BE: <a href="https://gitlab.cern.ch/lhcb-core/LHCbPR2BE" >https://gitlab.cern.ch/lhcb-core/LHCbPR2BE</a>
<br/>
LHCbPR: <a href="https://gitlab.cern.ch/lhcb-core/LHCbPR2" >https://gitlab.cern.ch/lhcb-core/LHCbPR2</a>
<br/>
LHCbPR2FE2: <a href="https://gitlab.cern.ch/lhcb-core/LHCbPR2FE2" >https://gitlab.cern.ch/lhcb-core/LHCbPR2FE2</a>
<br/>
LHCbPR2FE (old frontend): <a href="https://gitlab.cern.ch/lhcb-core/LHCbPR2FE" >https://gitlab.cern.ch/lhcb-core/LHCbPR2FE</a>


