
<h1>CPU Performance Monitoring</h1>

<div class="row">
    <div class="col-md-2">
        <single-job-selector #jobSelector (selectedJob)="jobChanged($event)" [appName]="appName" [executable]="execName"></single-job-selector>
    </div>

    <div class="col-md-10">
        <div class="row flex-items-xs-center" [hidden]="hasDataLoaded">
            <div class="col-xs-6" style="text-align: center">
                <h3>Loading data...</h3>
                <progress max="100" [value]="progress"></progress>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" [hidden]="!hasDataLoaded">
                <plotly-chart-data #chart1 [title]="'Distribution of Largest Fractions of CPU'"></plotly-chart-data>
            </div>
            <div class="col-xs-12" *ngIf="svgPath">
                <div [hidden]="!hasDataLoaded">
                    Flame Graph of CPU Usage<br>
                    (Click for interactive version)<br>
                    <a [href]="svgPath"><img [src]="svgPath"/></a>
                    <!--<object [data]="svgPath" type="image/svg+xml">
                        <img [src]="svgPath"/>
                    </object>-->
                </div>
            </div>
        </div>

        <div [hidden]="!hasDataLoaded">
            <app-simple-table #table></app-simple-table>
        </div>
    </div>
</div>
