
<form [formGroup]="jobQueryForm" novalidate>
    <div class="row"><div class="col-xs-12"><h3>Build Slot:</h3></div></div>
    <div class="select">
        <select id="select_build_id" [(ngModel)]="selectionState.build_id" formControlName="build_id">
            <option value="" disabled>Select a Build Slot</option>
            <option *ngFor="let id of possibleBuildIDs" [value]="id">
                {{ id }}
            </option>
        </select>
    </div>

    <div [hidden]="!selectionState.build_id">
        <div class="row"><div class="col-xs-12"><h3>Build Options:</h3></div></div>
        <div class="select">
            <select id="select_options_id" [(ngModel)]="selectionState.option_id" formControlName="option_id">
                <option value="" disabled>Select an Option</option>
                <option *ngFor="let id of possibleOptions" [value]="id.description">
                    {{ id.description }}
                </option>
            </select>
        </div>
    </div>

    <div [hidden]="!selectionState.option_id">
        <div class="row"><div class="col-xs-12"><h3>Build Platform:</h3></div></div>
        <div class="select">
            <select id="select_platform_id" [(ngModel)]="selectionState.platform_id" formControlName="platform_id">
                <option value="" disabled>Select a Platform</option>
                <option *ngFor="let id of possiblePlatforms" [value]="id.content">
                    {{ id.content }}
                </option>
            </select>
        </div>
    </div>

    <div [hidden]="!selectionState.platform_id">
        <div class="row"><div class="col-xs-12"><h3>Build Date:</h3></div></div>
        <div class="select">
            <select id="select_job_id" [(ngModel)]="selectionState.job_id" formControlName="job_id">
                <option value="0" disabled>Select a Job</option>
                <option *ngFor="let id of possibleJobs" [value]="id.id">
                    {{ id.date }}
                </option>
            </select>
        </div>
    </div>

</form>

<!--
<select id="select_app" formControlName="app_id">
  <option value="0" disabled>Select an application</option>
  <option *ngFor="let app of applications?.results" [value]="app.id">
      {{ app.name }} ({{ app.count }})
  </option>
</select>
-->
