
<clr-datagrid [clrDgLoading]="loading" #thisDataGrid>

    <clr-dg-column *ngFor="let col of viewableCols" [clrDgField]="col.sortData">

        <!-- Allow for the columns to be made hidable -->
        <ng-container *ngIf="col.hideable; else nonHideableBlock">
            <ng-container *clrDgHideableColumn="{hidden: false}">
                    {{ col.name }}
            </ng-container>
        </ng-container>
        <ng-template #nonHideableBlock>
            {{ col.name }}
        </ng-template>

    </clr-dg-column>

    <clr-dg-row *clrDgItems="let item of viewableRows">
        <clr-dg-cell *ngFor="let col of viewableCols">
            <ng-container *ngIf="col.trendable; else notTrendable">
                {{ item[col.key] }} <button class="btn btn-outline" (click)="makeTrend(col, item)"><clr-icon shape="objects"></clr-icon> Plot Trend</button>
            </ng-container>
            <ng-template #notTrendable>
                {{ item[col.key] }}
            </ng-template>
        </clr-dg-cell>
    </clr-dg-row>

    <!-- Add the colum filtering code and Footer-->
    <clr-dg-footer>
        <clr-dg-column-toggle></clr-dg-column-toggle>
        <!-- Page size selector -->
        <app-page-size-selector [pageSizes]="pageSizes" (newPageSize)="onPageSizeChange($event)"></app-page-size-selector>
        <!-- Grid pagination -->
        <clr-dg-pagination #pagination [clrDgPageSize]="pageSize" [clrDgTotalItems]="viewableRows.length">
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ pagination.totalItems }} results
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

<!-- Modal window to plot the compared values -->
<app-compare-values></app-compare-values>
