<table *ngIf="containers_ids.length && plottable" style="width: 100%; text-align: center; border-spacing: 0px;" border="0">
  <tr>
    <td *ngFor="let id of containers_ids">
      <div id="{{ id }}-title"></div>
      <div id="{{ id }}" style="padding-bottom: 56.25%;"></div>
      <!-- style="padding-bottom: 56.25%;" -->
      <!-- [style.height.px]="container_height" -->
    </td>
  </tr>
</table>

<div *ngIf="!containers_ids.length || !plottable" class="alert alert-warning">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
      </div>
      <span class="alert-text">No data to plot or unsupported combination...</span>
    </div>
  </div>
</div>
