<clr-datagrid (clrDgRefresh)="onRefreshDatagrid($event)"
              [clrDgLoading]="loading"
              [(clrDgSingleSelected)]="selectedItems"
              [clDgRowSelection]="true"
              [hidden]="!visible">
  <clr-dg-placeholder>Please select some results to display!</clr-dg-placeholder>
  <clr-dg-action-bar>
    <div class="btn-group">
      <button type="button"
              class="btn btn-sm btn-secondary"
              (click)="plot()"
              [disabled]="!selectedItems?.jobvalues?.length">
              <clr-icon shape="objects"></clr-icon>
              Plot values
      </button>
      <button type="button"
              class="btn btn-sm btn-secondary btn-warning-outline"
              (click)="onExitComparingJobs()">
              <clr-icon shape="undo"></clr-icon>
              Return to Search Results
      </button>
    </div>
  </clr-dg-action-bar>
  <!-- Labels for columns -->
  <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
  <clr-dg-column style="width:50px">Type</clr-dg-column>
  <clr-dg-column>Value</clr-dg-column>
  <!-- Rows of results -->
  <ng-template [ngIf]="comparedJobsData && comparedJobsData.results">
    <clr-dg-row *ngFor="let item of comparedJobsData.results" [clrDgItem]="item">
      <clr-dg-cell>{{ item.name }}</clr-dg-cell>
      <clr-dg-cell>{{ item.dtype }}</clr-dg-cell>
      <clr-dg-cell>
        <ng-template ngFor let-measure [ngForOf]="item.jobvalues">
          {{ measure.value }}<br>
        </ng-template>
      </clr-dg-cell>
      <!-- Per-row details section -->
      <clr-dg-row-detail *clrIfExpanded>
        <div class="p5">
          <b>ID:</b> {{ item.id }}<br>
          <b>Description:</b> {{ item.description }}<br>
          <b>Applications:</b>
          <blockquote>
            <ng-template ngFor let-info [ngForOf]="item.jobvalues">
              {{ info.job.job_description.application_version.application.name }} ({{ info.job.job_description.application_version.version }})
              <blockquote>{{ info.job.job_description.option.content }}</blockquote>
            </ng-template>
          </blockquote>
        </div>
      </clr-dg-row-detail>
    </clr-dg-row>
    <!-- Footer with pagination -->
    <clr-dg-footer>
      <!-- Page size selector -->
      <app-page-size-selector [pageSizes]="pageSizes" (newPageSize)="onPageSizeChange($event)"></app-page-size-selector>
      <!-- Grid pagination -->
      <clr-dg-pagination #pagination [clrDgPageSize]="pageSize" [clrDgTotalItems]="comparedJobsData.count">
        {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ pagination.totalItems }} results
      </clr-dg-pagination>
    </clr-dg-footer>
  </ng-template>
</clr-datagrid>

<!-- Modal window to plot the compared values -->
<app-compare-values [data]="selectedItems"></app-compare-values>
