<div style="display: block;" *ngIf="chartData.length">
  <canvas baseChart width="400" height="250"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="chartLegend"
          [chartType]="chartType"></canvas>
</div>
