<H1>HLT SUMMARY</H1>

<div class="row">
    <div class="col-xs-6">
        <div class="card">
            <div class="card-block">
                <plotly-chart-data #chart1 [title]="'lhcb-2017-patches Rate Test HLT1 Inclusive (Hz)'">
                </plotly-chart-data>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="card">
            <div class="card-block">
                <plotly-chart-data #chart2 [title]="'lhcb-2017-patches Rate Test HLT2 Total (Hz)'">
                </plotly-chart-data>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="card">
            <div class="card-block">
                <plotly-chart-data #chart3 [title]="'lhcb-2018-patches Rate Test HLT1 Inclusive (Hz)'">
                </plotly-chart-data>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="card">
            <div class="card-block">
                <plotly-chart-data #chart4 [title]="'lhcb-2018-patches Rate Test HLT2 Total (Hz)'">
                </plotly-chart-data>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="card">
            <div class="card-block">
                <plotly-chart-data #chart5 [title]="'lhcb-2017-patches Throughput Test HLT1 (Hz)'">
                </plotly-chart-data>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="card">
            <div class="card-block">
                <plotly-chart-data #chart6 [title]="'lhcb-2017-patches Throughput Test HLT2 (Hz)'">
                </plotly-chart-data>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="card">
            <div class="card-block">
                <plotly-chart-data #chart7 [title]="'lhcb-2018-patches Throughput Test HLT1 (Hz)'">
                </plotly-chart-data>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="card">
            <div class="card-block">
                <plotly-chart-data #chart8 [title]="'lhcb-2018-patches Throughput Test HLT2 (Hz)'">
                </plotly-chart-data>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="card">
            <div class="card-block">
                <plotly-chart-data #chart9 [title]="'lhcb-master Throughput Test HLT1 (Hz)'">
                </plotly-chart-data>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="card">
            <div class="card-block">
                <plotly-chart-data #chart10 [title]="'lhcb-master Throughput Test HLT2 (Hz)'">
                </plotly-chart-data>
            </div>
        </div>
    </div>
</div>
