<form [formGroup]="jobsSearchForm" novalidate>
  <!-- Display Applications -->
  <ng-template [ngIf]="this.filtersPresets.app_id == 0">
    <div class="row"><div class="col-xs-12"><h5>Applications</h5></div></div>
    <div class="row">
      <div class="col-xs-8 push-xs-1">
        <div class="select">
          <select id="select_app" formControlName="app_id">
            <option value="0" disabled>Select an application</option>
            <option *ngFor="let app of applications?.results" [value]="app.id">
              {{ app.name }} ({{ app.count }})
            </option>
          </select>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- Display sections for options, executables, platforms and hosts -->
  <app-basic-filter [items]="selectionState.unfiltered_options"
                    [label]="'Options'"
                    [filteredItems]="selectionState.filtered_options"
                    (selectionChanged)="onSelectionChange($event)"></app-basic-filter>

  <app-basic-filter [items]="selectionState.unfiltered_executables"
                    [label]="'Executables'"
                    [filteredItems]="selectionState.filtered_executables"
                    (selectionChanged)="onSelectionChange($event)"></app-basic-filter>

  <app-basic-filter [items]="selectionState.unfiltered_platforms"
                    [label]="'Platforms'"
                    [filteredItems]="selectionState.filtered_platforms"
                    (selectionChanged)="onSelectionChange($event)"></app-basic-filter>

  <app-basic-filter [items]="selectionState.unfiltered_hosts"
                    [label]="'Hosts'"
                    [filteredItems]="selectionState.filtered_hosts"
                    (selectionChanged)="onSelectionChange($event)"></app-basic-filter>

  <!-- Display sections for versions -->
  <app-versions-filter [items]="selectionState.unfiltered_versions"
                       [group]="jobsSearchForm"
                       [filteredItems]="selectionState.filtered_versions"
                       (selectionChanged)="onSelectionChange($event)"></app-versions-filter>
</form>
