<div class="row flex-items-xs-top">
  <div class="col-xs-4">
    <!-- Search filters component -->
    <app-search-jobs (selectionChangedEvt)="onSearchSelectionChanged()" [filtersPresets]="jobFiltersPresets"></app-search-jobs>
  </div>
  <div class="col-xs-8">
    <!-- DataGrid component to display jobs -->
    <app-select-jobs (analyseJobsEvt)="onAnalyseJobs($event)"></app-select-jobs>
    <!-- Button to hide the plots and show the search results -->
    <button class="btn btn-sm btn-secondary btn-warning-outline"
            [hidden]="hideTimingPlot"
            [disabled]="hideTimingPlot"
            (click)="onReturnToSearch()">
      <clr-icon shape="undo"></clr-icon>
      Return to Search Results
    </button>
    <!-- Containers for JSROOT plots -->
    <div *ngIf="!hideTimingPlot" id="detime-container-timing-plot" style="height:452px;"></div>
    <div *ngIf="!hideRatioPlot" id="detime-container-ratio-plot" style="height:120px;"></div>
    <div *ngIf="!hideTrendPlot" id="detime-container-trend-plot" style="height:120px;"></div>
    <div *ngIf="!hideParticlesPlot" id="detime-container-particles-plot" style="height:332px;"></div>
  </div>
</div>
