
<div [hidden]="hideFilter">
    <h2>Try clicking on a button below to show the data for this job:</h2>
    <br />
    <button *ngFor="let button of filter_buttons" [class]="button.class" (click)="clickButton(button.name)" >{{button.name}}</button>
</div>
<app-json-table #tableData [inputJob]="jobId"></app-json-table>
