<!-- Display controls for displaying Nightlies and limit their number -->
<ng-template [ngIf]="items.length">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-xs-6">
      <div class="toggle-switch" [formGroup]="group">
        <input type="checkbox"
                id="toggle_show_versions"
                formControlName="toggle_show_versions"
                (change)="_onToggleShowVersions()">
        <label for="toggle_show_versions">Show versions</label>
      </div>
    </div>
    <div class="col-xs-6" *ngIf="group.controls['toggle_show_versions'].value">
      <div class="select" [formGroup]="group">
        <select id="number_of_versions" formControlName="number_of_versions">
          <option value="10" selected>Limit to 10 versions</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <!-- Display versions by group (releases, nightly slots) -->
  <ng-template [ngIf]="group.controls['toggle_show_versions'].value">
    <ng-template ngFor let-item [ngForOf]="items" let-i="index">
      <ng-template [ngIf]="item.values.length">
        <div class="row flex-items-xs-left">
          <div class="col-xs-12">
            <span class="label label-info">{{ item.name }}<span class="badge" *ngIf="item.count">{{ item.count }}</span></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-11 push-xs-1">
            <clr-checkbox *ngFor="let nightly of item.values"
                          [clrChecked]="false"
                          (change)="_onSelectionChange(nightly.id, $event.target.checked)">
              {{ nightly.name }} ({{ nightly.count }})
            </clr-checkbox>
          </div>
        </div>
        <div class="row">&nbsp;</div>
      </ng-template>
    </ng-template>
  </ng-template>
</ng-template>
