<div class="row flex-items-xs-top">
  <div class="col-xs-4">
    <!-- Search filters component -->
    <app-search-jobs (selectionChangedEvt)="onSearchSelectionChanged()"></app-search-jobs>
  </div>
  <div class="col-xs-8">
    <!-- DataGrid component to display jobs -->
    <app-select-jobs (analyseJobsEvt)="onAnalyseJobs($event)"></app-select-jobs>
    <!-- DataGrid component to display and compare results of the selected jobs -->
    <app-select-values (exitComparingJobsEvt)="onExitComparingJobs($event)"></app-select-values>
  </div>
</div>
