<p>HLT COMPONENT</p>

<!--
<app-json-table #tableData></app-json-table>
<app-json-table #tableData2></app-json-table>
-->

<div class="row">

    <div class="col-md-2">
        <single-job-selector #jobSelector (selectedJob)="jobChanged($event)" [appName]="mooreName" ></single-job-selector>
    </div>
    <div class="col-md-10">
        <app-json-table #tableData [inputJob]="jobId"></app-json-table>
    </div>

</div>

<!--<div class="row">
    <div class="col-xs-6">
        <div class="card">
            <div class="card-header">
                Chart 1
            </div>
            <div class="card-block">
                <plotly-chart-data #chart1></plotly-chart-data>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <plotly-chart-data #chart2></plotly-chart-data>
    </div>
</div>-->
