<h1>HLT RateTest</h1>

<div class="row">
    <div class="col-md-2">
        <single-job-selector #jobSelector (selectedJob)="jobChanged($event)" [appName]="mooreName" ></single-job-selector>
    </div>
    <div class="col-md-10">
        <app-json-filter #filterTable></app-json-filter>
    </div>
</div>

