<clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'xl'">
  <div class="modal-body">
    <app-compare-values-chart
        [chartData]="lineChartData"
        [chartLabels]="lineChartLabels"
        [chartOptions]="lineChartOptions"
        [chartLegend]="lineChartLegend"
        [chartType]="lineChartType"></app-compare-values-chart>
  </div>
</clr-modal>
