<div class="row flex-items-xs-top">
  <div class="col-xs-4">
    <!-- Search filters component -->
    <app-search-jobs (selectionChangedEvt)="onSearchSelectionChanged()" [filtersPresets]="searchJobsFilters"></app-search-jobs>
  </div>
  <div class="col-xs-8">
    <!-- DataGrid component to display jobs -->
    <app-select-jobs (analyseJobsEvt)="onAnalyseJobs($event)"></app-select-jobs>
    <!-- Display/Hide plots button group -->
    <div class="btn-group" *ngIf="!tabsHidden">
      <!-- Button to draw selected plots -->
      <button class="btn btn-sm"
              [hidden]="tabsHidden"
              [disabled]="tabsHidden"
              (click)="onDrawPlots()">
              <clr-icon shape="objects"></clr-icon>
              Draw Plots
      </button>
      <!-- Button to hide the plots and show the search results -->
      <button class="btn btn-sm btn-warning-outline"
              [hidden]="tabsHidden"
              [disabled]="tabsHidden"
              (click)="onReturnToSearch()">
              <clr-icon shape="undo"></clr-icon>
              Return to Search Results
      </button>
    </div>
    <!-- Tabs -->
    <clr-tabs *ngIf="!tabsHidden">
      <!-- Tab for ROOT file Tree View -->
      <clr-tab>
        <button clrTabLink>File Tree</button>
        <ng-template [(clrIfActive)]="filetreeTabActive">
          <clr-tab-content>
            <!-- Alert if no TreeView data available -->
            <div *ngIf="!tree_view.length" class="alert alert-warning">
              <div class="alert-items">
                <div class="alert-item static">
                  <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
                  </div>
                  <span class="alert-text">No ROOT file found!</span>
                </div>
              </div>
            </div>
            <br>
            <!-- Tree view of the ROOT file tree -->
            <ng-template [ngIf]="tree_view.length">
              <ng-template ngFor let-item [ngForOf]="tree_view">
                <app-root-tree-node [item]="item" [selected]="item.selected"></app-root-tree-node>
              </ng-template>
            </ng-template>
          </clr-tab-content>
        </ng-template>
      </clr-tab>
      <!-- Tab for plots -->
      <clr-tab>
        <button clrTabLink>Plots</button>
        <ng-template [(clrIfActive)]="plotsTabActive">
          <clr-tab-content>
            <!-- Buttons for plots display options -->
            <div style="padding: 15px; text-align: center;">
              <app-plot-display-opts (plotDisplayOptEvt)="onPlotDisplayOpt($event)"
                                     [plotDisplayOpt]="plotDisplayOpt"></app-plot-display-opts>
            </div>
            <!-- Display plots -->
            <ng-template [ngIf]="jsroot_plots.length">
              <app-jsroot-plot *ngFor="let plots_tuple of jsroot_plots; index as i"
                               [items]="plots_tuple"
                               [id]="i"
                               [displayOpt]="plotDisplayOpt"></app-jsroot-plot>
            </ng-template>
            <!-- Display warning when no plots to draw -->
            <div *ngIf="!jsroot_plots.length" class="alert alert-warning">
              <div class="alert-items">
                <div class="alert-item static">
                  <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
                  </div>
                  <span class="alert-text">No data to plot...</span>
                </div>
              </div>
            </div>
          </clr-tab-content>
        </ng-template>
      </clr-tab>
    </clr-tabs>
  </div>
</div>
