
<h1>Memory Performance Monitoring</h1>

<div class="row">
    <div class="col-md-2">
        <single-job-selector #jobSelector (selectedJob)="jobChanged($event)" [appName]="appName" [executable]="execName"></single-job-selector>
    </div>

    <div class="col-md-10">
        <div class="row flex-items-xs-center" [hidden]="hasDataLoaded">
            <div class="col-xs-6" style="text-align: center">
                <h3>Loading data...</h3>
                <progress max="100" [value]="progress"></progress>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6" [hidden]="!hasDataLoaded">
                <plotly-chart-data #chart1 [title]="'Distribution of Memory Leaks by Percent'"></plotly-chart-data>
                <app-simple-table #table1 ></app-simple-table>
            </div>
            <div class="col-xs-6" [hidden]="!hasDataLoaded">
                <plotly-chart-data #chart2 [title]="'Distribution of Memory Usage by Bytes'"></plotly-chart-data>
                <app-simple-table #table2 ></app-simple-table>
            </div>
        </div>
    </div>
</div>
