<header class="header-7">
  <div class="branding">
    <a [routerLink]="['/']" class="nav-link">
      <clr-icon shape="objects"></clr-icon>
      <span class="title">LHCb PR</span>
    </a>
  </div>
  <!-- App-wide navigation bar -->
  <div class="header-nav">
    <a class="nav-link nav-text"
       *ngFor="let topnavitem of navigationItems"
       [routerLink]="topnavitem.routerLink"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: topnavitem.activeExact}">{{ topnavitem.label }}</a>
  </div>
</header>
<!-- App-wide navigation sub-bar -->
<ng-template ngFor let-mainnavitem [ngForOf]="navigationItems">
  <ng-template [ngIf]="mainnavitem.id === activeNavigationItemId">
    <nav class="subnav">
      <ul class="nav">
        <li class="nav-item">
            <a *ngFor="let subnavitem of mainnavitem.subgroup"
               class="nav-link"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: subnavitem.activeExact}"
               [routerLink]="subnavitem.routerLink">{{ subnavitem.label }}</a>
          </li>
      </ul>
    </nav>
  </ng-template>
</ng-template>
